* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 999;
    box-shadow: 0 5px 5px rgba(57, 63, 72, 0.3);
    display: inline-block;
    height: 100px;
    width: 100%;
    background-color: white;
    padding: 0px 30px;
    top: 0;
}

header .left {
    height: 100%;
    float: left;
}

header .left a  {
    height: 100%;
    display: flex;
    align-items: center;
}
header .left a  img{
    height: 90%;
}

header .right {
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
}

.header-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu-item {
    display: inline-flex;
}
.menu-item:first-child{
    margin-right: 30px;
}
.menu-item a{
    min-width: 32px;
    max-height: 32px;
    display: flex;
    align-items: center;
    
    text-decoration: none;
}
main{
    position: relative;
    top: 100px;
    background-color: lightgray;
}


.swiper-slide{
    width: 250px;
    height: 500px;
    border:0;
    padding: 11px;
    background-color: white;
    margin: 5px;
    position: relative;
}
.swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Quicksand', sans-serif;
}
.addToCart-container{
    width: 100%;
    height: 55px;
    position: absolute;
    left:-5px;
    bottom:0px;
    border:0;
    display: flex;
    justify-content: center;
}

.addToCart-container button{
    width: 80%;
    height: 35px;
    margin:10px 0px;
    border:0px solid black;
    border-radius: 20px;
    cursor: pointer;
    background:#0652DD;
    color:#fff;
    text-transform: uppercase;
    
}
.addToCart-container button:hover{
    transform:scale(1.03);
}
.image-container{
    width: 100%;
    height: 300px;
}
.image-container img{
    width: 100%;
    height: 100%;
    background-color: grey;
}
.title-container{
    width: 100%;
    max-height: 45px;
}
.title-container h3{
    max-height: 45px;
    overflow: hidden;
}
.description-container{
    width: 100%;
    max-height: 55px;
    margin: 15px 0px;
    height: 100%;
    white-space: wrap;
    overflow: hidden; /* Hide any content that overflows the specified width */
}
.swiper-container{
    padding:50px 15%;
}
#currentUser{
    color: black;
    font-weight: bold;
}
